@import "tailwindcss";

*{
  font-family: Inter;
}


/* Custom box shadows */
.hover\:shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}
.hover\:shadow-white:hover {
  box-shadow: 4px 4px 0 #fff;
}

/* Custom hover background color */
.hover\:bg-lightHover:hover {
  background-color: #fcf4ff;
}

.hover\:bg-darkHover:hover {
  background-color: #2a004a;
}

/* Optional: add cursor pointer for hoverable elements */
.cursor-pointer {
  cursor: pointer;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

}

html {
  scroll-behavior: smooth;
}